.actions {
    display: flex;
    flex: auto;
    flex-direction: row;
    margin: auto;
}

.action-link {
    p {
        text-align: center;
    }
}

.action-button {
    display: flex;
    background: $light;
    border-radius: 40px;
    padding: 12px;
    margin: 24px 48px;
    box-shadow: -10px -10px 15px hsla(0, 0%, 100%, .8),
        15px 15px 25px rgba(0, 0, 0, .1);
    transition: .5s ease;

    &:hover {
        transition: .5s ease;
        box-shadow: -10px -10px 15px hsla(0, 0%, 100%, .6),
            15px 15px 25px rgba(0, 0, 0, .2);
    }

    &:active {
        transition: .5s ease;
        box-shadow: -10px -10px 15px hsla(0, 0%, 100%, .8) inset,
            15px 15px 25px rgba(0, 0, 0, .1) inset;
    }

    img {
        width: 48px;
        height: 48px;
    }
}