.card {
    width: 520px;
    height: 280px;
    background: $card-gradient;
    border-radius: $radius;
    z-index: 3;
    margin: -200px auto 0px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: .3s ease-in-out;


    &:hover {
        transition: .3s ease-in-out;
        transform: scale(1.04);
        box-shadow:
            15px 15px 25px rgba(0, 0, 0, .2);
    }

    &-icon {
        width: 42px;
        height: 42px;
        margin: 6px;
    }

    &-actions {
        display: flex;
        flex-direction: row;
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 42px;

        p {
            font-size: $medium;
            color: #fff;
            margin: 6px;
        }

        .address {
            color: $green;
            font-weight: 600;
            font-size: $max;
            text-align: center;
        }
    }

    &-meta {
        display: flex;
        flex-direction: row;
        padding: 24px;
        justify-content: space-between;
    }

    .coins {
        color: $green;
        font-weight: 600;
        font-size: ($max*2)-$medium;
    }

    .ticker {
        font-weight: 600;
        color: #fff;
        font-size: $medium;
    }

}