.form{
    font-family: "Montserrat", sans-serif;

    &-button{
        display: flex;
        padding: 15px 30px;
        border: none;
        border-radius: $radius;
        font-weight: 600;
        font-size: $medium;
        transition: .3s;
        &-group{
            display:flex;
            justify-content: center;
            margin: 12px;
            &-row{
                display: flex;
                flex-direction: row;
            }
        }
    }
    &-content{
        display:flex;
        &-row{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        padding: 8px 19px 8px 18px;
        &-label{
            margin: 12px 0px;
            color: lighten($dark, 20%)
        }
        &-select{
            padding: 16px 15px;
            border-radius: $radius/2;
            border: none;
            font-size: $medium;
            background: #ffffff;
            box-shadow: inset 8px 8px 13px #bababa, 
                        inset -8px -8px 13px #ffffff;
                        cursor: pointer;
            &::after{
                content: '\25BC';
                color: $dark;
                font-size: 16px;
            }
        }
        &-text{
            padding: 16px 15px;
            border-radius: $radius;
            border: 2px solid lighten($dark, 50%);
            font-size: $medium;
            background: #ffffff;
            transition: .3s;

            // box-shadow: inset 8px 8px 13px #bababa, 
            //             inset -8px -8px 13px #ffffff;
            &:focus{
                outline: none;
                border: 2px solid $green;
                transition: .3s;
                // box-shadow: inset 4px 6px 13px #bababa, 
                // inset -4px -6px 13px #ffffff;
            }
        }
    }

}

input, textarea, button{
    font-family: "Montserrat", sans-serif;
}

button:focus{
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    &::-ms-expand {
        display: none; //remove IE select
      }
  }

.btn{
    &-regular{
    background: $green;
    color: $dark;
    &:hover{
        background: darken($green, 20%);
    }
    &:active{
        background: darken($green, 25%);
    }
    }
}