.login-block{
    background: $light;
    width: 500px;
    height: 400px;
    border-radius: $radius;
    box-shadow: -10px -10px 15px hsla(0, 0%, 100%, .8),
    15px 15px 25px rgba(0, 0, 0, .1);
    margin: 0 auto;
}