.menu {
    display: flex;
    padding: 30px auto;
}

.menu {
    &-header {
        display: flex;
        flex-direction: row;
        margin: 38px 12px 12px 38px;
    }

    &-list {
        list-style: none;
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 28px;
            margin: 6px;

            >.menu-icon {
                width: 32px;
                height: 32px;
                margin-right: 24px;
            }

            >.menu-text {
                font-size: $medium;
                color: $dark;
            }

            &:hover {
                background: darken($light, 2%);
                padding: 12px 28px;
                border-radius: $radius/2.5;
                transition: .3s;
            }
        }
    }

}