.v-navbar {
    width: 600px;
    height: 80px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    // border-bottom-left-radius: $radius;
    // border-bottom-right-radius: $radius;
    background: $green-gradient;
    margin: 0 auto;
}

.person {
    &-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 38px;

        >.logo {
            width: 130px;
            height: 42px;
        }
        >.icon {
            height: 42px;
            width: 42px;
        }
    }

    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__username {
            font-size: $min;
            font-weight: 600;
            color: $dark;
            margin: 12px;

        }

        &__image {
            width: 42px;
            height: 42px;
            border-radius: $radius;
        }
    }
}