//Blocks
.block {
    &-person{
        display: flex;
        flex-direction: column;
        flex: auto;
    }

    &-global{
  width: 600px;
  height: 100vh;
        position: relative;
        background: #fff;
        transition: .5s;    
    }
    &-wallet {
        width: 600px;

        height: 280px;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        background: $green-gradient;
        // margin: 0 auto;
    }

    &-menu {
        width: 600px;
        position: relative;
        bottom: 0px;
        height: 50%;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        background: #fff;
        transition: .5s;
        &-scroll-content{
        overflow-y: auto;
        height: 80%;
        }
    }
}

.person {
    &-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 38px;

        >.logo {
            width: 130px;
            height: 42px;
        }
    }

    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__username {
            font-size: $min;
            font-weight: 600;
            color: $dark;
            margin: 12px;

        }

        &__image {
            width: 42px;
            height: 42px;
            border-radius: $radius;
        }
    }
}