//RESET.scss
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic-ext');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// MAIN.scss

html,
body {
    background: $light;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

.v-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    box-shadow:    14px 14px 28px #a5a5a5, 
    -14px -14px 28px #ffffff;

}