//colors
$green: #5cffc1;
$light: #dfdfdf;
$dark: #212121;

//gradients
$card-gradient: radial-gradient(
  97.37% 97.37% at 50.1% 50%,
  #474747 0%,
  #131313 100%
);
$green-gradient: linear-gradient(154.62deg, #41ffaf 16.74%, #0ed17f 75.06%);

//measurements
//--Fonts
$min: 1em;
$medium: 1.125em;
$max: 1.375em;

//--Borders
$radius: 2em;
