.toolbar{
    display:flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-top: 2px solid darken(#fff, 8%);
    background: darken(#fff, 5%);
    color: $dark;
    justify-content: space-evenly;
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        >img{
            width: 32px;
            height: 32px;
        }
        >p{
            font-family: "Montserrat", sans-serif;
            font-size: $min;
            margin-top: 12px;
        }
    }
  }