
<template>
  <div class="v-wrapper">
    <v-navbar />
  </div>
</template>

<script>
import vNavbar from "../global/v-navbar";

export default {
  name: "v-wrapper-deposit",
  props: ["pageTitle"],
  components: {
    vNavbar
  }
};
</script>

<style>
</style>