<template>
  <div class="v-wrapper">
    <v-navbar />
    <vMenu>
      <ul>
        <li v-for="item in txh" :key="item.id">
          {{ item.address }}
        </li>
      </ul>
    </vMenu>
  </div>
</template>

<script>
import vNavbar from "../global/v-navbar";
import vMenu from "../global/v-menu";

import axios from "axios";

const baseURL = "https://jazzme.org/service/v1/";
// const balance = 'clients/balance/'
const tx = "tr/history/";

export default {
  name: "v-wrapper-transfer",
  components: {
    vNavbar,
    vMenu
  },
  data() {
    return {
      id: 2,
      txh: null
    };
  },
  mounted() {
    axios
      .get(baseURL + tx + this.id)
      .then(response => (this.txh = response.data.response));
  }
};
</script>

<style></style>
