<template>
  <button type="type" @click="click" :class="'form-button ' + jclass" :value="value">{{ info }}</button>
</template>

<script>
export default {
  name: "v-button",
  props: ["jclass", "value", "type", "click", "info"]
};
</script>

<style></style>
