<template>
  <div class="form-item">
    <label class="form-item-label" :for="name">{{ label }}</label>
    <input
      v-model.number="content"
      @input="handleInput"
      class="form-item-text"
      :type="type"
      :name="name"
      :placeholder="placeholder"
      :id="id"
    />
  </div>
</template>

<script>
export default {
  //props (type, name, id, placeholder, label)
  name: "v-input-text",
  props: ["type", "name", "value", "id", "placeholder", "label"],
  data() {
    return {
      content: this.value
    };
  },
  methods: {
    handleInput() {
      this.$emit("input", this.content);
    }
  }
};
</script>

<style></style>
