<template>
  <div class="form-item">
    <label class="form-item-label" :for="name">{{ label }} {{ toChoseNoun }}</label>
    <select :name="name" :id="id" class="form-item-select" @input="handleInput"  v-model="content">
        <slot></slot>
    </select>
  </div>
</template>

<script>
export default {
  //props (type, name, id, placeholder, label)
  name: "v-select",
  props: ["type", "name", "id", "label", "value", "toChoseNoun"],
  data() {
    return {
        content: this.value
    };
  },
  methods: {
     handleInput() {
      this.$emit("input", this.content);
    }
  }
};
</script>

<style></style>
