<template>
  <div>
    <vDeposit />
  </div>
</template>

<script>
import vDeposit from "../components/deposit/v-wrapper";

export default {
  components: {
    vDeposit
  }
};
</script>

<style>
</style>