<template>
  <div class="wrapper">
    <div class="login-block">
      <!-- <vButton :click="login" :jclass="'btn-regular'" :info="'Signup by Google'" /> -->
      <button class="form-button btn-regular" @click="login">Signup by Google</button>
      <p>Email: {{ email }}</p>
      <p>Username: {{ username }}</p>
      <p>Error: {{ error }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import firebase from "firebase";
let baseURL = "https://jazzme.org/service/v1/";
let auth = "clients/auth/";
let getUser = "clients/getUser/";
// import vButton from "../components/global/forms/v-button";

export default {
  components: {
    // vButton
  },
  data() {
    return {
      email: null,
      username: null,
      error: null
    };
  },
  methods: {
    login() {
      const provider = new firebase.auth.GoogleAuthProvider();

      firebase
        .auth()
        .signInWithPopup(provider)
        .then(response => {
          this.email = response.user.email;
          this.username = response.user.displayName;
          axios
            .get(baseURL + auth + this.username + "/" + this.email)
            .then(response => {
              console.log(response);
              let config = {
                headers: { Authorization: `Bearer ${response.data.token}` }
              };
              axios
                .get(baseURL + getUser + response.data.client_id, config)
                .then(res => {
                  console.log(res.data);
                })
                .catch(error => {
                  console.log(error);
                });
            });
        });
    }
  }
};
</script>

<style></style>
