<template>
  <div>
    <v-wrapper :price="price" :loading="loading" :errored="errored" />
  </div>
</template>

<script>
import vWrapper from "../components/v-wrapper";
import axios from "axios"

export default {
  name: "v-main",
  title() {
    return `${this.title} | JAZZME`;
  },
  data() {
    return {
      title: this.$route.name,
      price: null,
      loading: true,
      errored: false
    };
  },
  methods: {
   },
  computed: {
 
  },

  components: {
    vWrapper
  },
  mounted() {
    axios
    .get('https://jazzme.org/service/v1/coin/price')
    .then((response) => (this.price = response.data.price.toString().substring(0,5)))
    .catch(error => (this.errored = error))
    .finally(()=> this.loading = false)
  }
};
</script>

<style scoped>
.hidden {
  display: none;
}
</style>
