<template>
  <div>
    <vTransfer />
  </div>
</template>

<script>
import vTransfer from "../components/transfer/v-wrapper";

export default {
     title () {
    return `${this.title} | JAZZME`
  },

  data(){
    return {
      title: this.$route.name
    }
  },
  components: {
    vTransfer
  }
};
</script>

<style></style>
