<template>
  <div>
    <vTxs />
  </div>
</template>

<script>
import vTxs from "../components/transactions/v-wrapper";

export default {
     title () {
    return `${this.title} | JAZZME`
  },

  data(){
    return {
      title: this.$route.name
    }
  },
  components: {
    vTxs
  }
};
</script>

<style>
</style>