<template>
  <div>
    <vUnitTest />
  </div>
</template>

<script>
import vUnitTest from "../components/tests/v-wrapper";

export default {
  components: {
    vUnitTest
  },
  data() {
      return {
      }
  }

};
</script>

<style>
</style>