<template>
  <div>
    <vWithdraw />
  </div>
</template>

<script>
import vWithdraw from "../components/withdraw/v-wrapper";

export default {
     title () {
    return `${this.title} | JAZZME`
  },

  data(){
    return {
      title: this.$route.name
    }
  },
  components: {
    vWithdraw
  }
};
</script>

<style></style>
