<template>
  <div class="v-wrapper">
    <v-navbar />
    <div>
      <h3>users: GET</h3>
      <ul>
        <li v-for="user in getUsers()" :key="user.id">
          {{ user.name }}, {{ user.address }}
        </li>
      </ul>
      <h3>price: GET</h3>
      <p>1 BNTJAZZ / {{ price }} RUR</p>

      <h3>user: GET</h3>
      <p>Name: {{ getUser().name }}</p>
      <p>Address: {{ getUser().address }}</p>
      <p>Created at: {{ getUser().created_at }}</p>
      <p>Balance (BNTJAZZ): {{ BNTJAZZ() }}</p>
      <p>Balance (BIP): {{ bal.BIP }}</p>
      <h3>transactions: GET</h3>

      <ul>
        <li v-for="item in txh" :key="item.hash">
          ID: {{ item.sender }}, ADDRESS: {{ item.reciever }}, VALUE:
          {{ item.value }}, HASH: {{ item.hash }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import vNavbar from "../global/v-navbar";
import { mapActions, mapGetters, mapState } from "vuex";
import axios from "axios";

const baseURL = "https://jazzme.org/service/v1/";
const balance = "clients/balance/";
const tx = "tr/history/";

export default {
  name: "v-wrapper-transfer",
  components: {
    vNavbar
  },
  data() {
    return {
      title: this.$route.name,
      id: 2,
      bal: null,
      txh: null
    };
  },
  computed: {
    ...mapGetters(["USERS", "USER_ID", "PRICE"]),
    ...mapState({
      users: state => {
        return state.users;
      },
      price: state => {
        let price = state.price.price;
        //  let result = price.toFixed(4)
        return price;
      }
    })
  },
  methods: {
    ...mapActions([
      "GET_USERS_FROM_API",
      "SET_USERS_TO_STATE",
      "GET_PRICE_FROM_API",
      "SET_PRICE"
    ]),
    getUsers() {
      return this.$store.state.users;
    },
    getUser() {
      return this.$store.getters.USER_ID(this.id);
    },
    BNTJAZZ() {
      let price = this.bal;
      // let math = parseInt(price)
      // let variant = price.slice(0, -18);
      // let ready = Math.round(variant);
      return price;
    }
  },
  mounted() {
    this.GET_USERS_FROM_API();
    this.GET_PRICE_FROM_API();

    axios
      .get(baseURL + balance + this.id)
      .then(response => (this.bal = response.data.balance));

    axios
      .get(baseURL + tx + this.id)
      .then(response => (this.txh = response.data.response));
  }
};
</script>

<style></style>
