<template>
  <div class="info-group">
      <p class="text-muted">{{ heading }}</p>
      <h1 class="text-green"> {{ result }} </h1>
  </div>
</template>

<script>
export default {
    name: "v-result-info",
    props: ["result", "heading"]
}
</script>

<style>

</style>