<template>
  <div class="v-wrapper">
    <div class="block-person">
      <v-person :price="price" :loading="loading" :errored="errored">
        <v-card />
      </v-person>
      <v-actions />
      <v-menu />
    </div>
  </div>
</template>

<script>
import vPerson from "./window/v-person";
import vCard from "./window/v-card";
import vMenu from "./window/v-menu";
import vActions from "./window/v-actions";
export default {
  props: ["price", "loading", "errored"],
  name: "v-wrapper",
  components: {
    vPerson,
    vMenu,
    vActions,
    vCard
  }
};
</script>

<style></style>
