<template>
  <div class="actions">
    <div class="action-link">
      <router-link to="/transfer" class="action-button">
        <img src="../../assets/icons/ic_post_cash.svg" alt />
      </router-link>
      <p>Переводы</p>
    </div>
    <div class="action-link">
      <router-link to="/deposit" class="action-button">
        <img src="../../assets/icons/ic_deposit.svg" alt />
      </router-link>
      <p>Пополнение</p>
    </div>
    <div class="action-link">
      <router-link to="/withdraw" class="action-button">
        <img src="../../assets/icons/ic_withdraw.svg" alt />
      </router-link>
      <p>Вывод</p>
    </div>
        <!-- <div class="action-link">
      <router-link to="/test" class="action-button">
        <img src="../../assets/icons/ic_star.svg" alt />
      </router-link>
      <p>TEST</p>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "v-actions",
  props: ["pageTitle"],
  data() {
    return {};
  }
};
</script>

<style lang="scss">
</style>