<template>
  <div class="card">
    <div class="card-info">
      <p>Ваш адрес</p>
      <p class="address">{{getAddress()}}</p>
    </div>

    <div class="card-meta">
      <div class="card-wallet">
        <p class="coins">{{coins}}</p>
        <p class="ticker">{{ticker}}</p>
      </div>

      <div class="card-actions">
        <img src="../../assets/icons/ic_generate_qr.svg" class="card-icon" alt />
        <img src="../../assets/icons/ic_copy.svg" class="card-icon" alt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "v-card",
  data() {
    return {
      id: 1,
      coins: 100000,
      ticker: "JAZZ",
      address: "Mx4b07582bce440e86842a92b12cdefeb66e6caf74"
    };
  },
  methods: {
    getAddress() {
      var address = this.address;
      var firstAd = address.substr(0, 30);
      var secondAd = address.substr(30, 42);
      var resultAd = firstAd + "\n" + secondAd;
      return resultAd;
    }
  }
};
</script>

<style>
</style>