<template>
  <div class="block-menu">
    <div class="menu-header">
      <h3>Меню пользователя</h3>
    </div>
    <div class="block-menu-scroll-content">
 <ul class="menu-list">
      <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
      <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
      <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
            <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
            <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
            <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
            <router-link tag="li" to="/transactions" class="menu-list__item">
        <img
          src="../../assets/icons/ic_transactions.svg"
          class="menu-icon"
          alt
        />
        <p class="menu-text">Все транзакции</p>
      </router-link>
      <!-- <li class="menu-list__item" >
        <img src="../../assets/icons/ic_transactions.svg" class="menu-icon" alt />
        <p class="menu-text">Все транзакции</p>
      </li> -->
    </ul>
    </div>
     
  </div>
  
</template>

<script>
export default {
  name: "v-menu"
};
</script>

<style></style>
