<template>
  <div>
    <div class="block-wallet">
      <div class="person-data">
        <img src="../../assets/logo/logo_dark.svg" alt class="logo" />
        <div v-if="errored">Error :(</div>
        <div v-else>
          <div v-if="loading">
              <div class="circle-border">
    <div class="circle-core"></div>
  </div>  

          </div>
          <p class="text-medium" v-else>1 BNTJAZZ / {{ price }} ₽</p>
        </div>
        <div class="person-info">
          <p class="person-info__username">{{ username }}</p>
          <img src="../../assets/ava.jpg" class="person-info__image" alt />
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "v-person",
  props: ["price", "loading"],
  data() {
    return {
      username: "andreyev"
    };
  }
};
</script>

<style></style>
