<template>
  <div class="v-wrapper">
    <v-navbar />
    <vMenu>
      <vInputText
        :type="'text'"
        :name="'recipientAddress'"
        :label="'Адрес получателя'"
        :id="'recipientAddress'"
        :placeholder="'Mx4b07582bce440e86842a92b12cdefeb66e6caf74'"
      />
      <!-- <div class="form-content-row"> -->
        <vInputText
          :type="'number'"
          :name="'summ'"
          :label="'Сумма'"
          :id="'recipientAddress'"
          :placeholder="'1000'"
          v-model.number="summ"
        />
        <!-- <vSelect :label="'Выберите'" :toChoseNoun="'монету'" v-model="chosen">
          <option
            v-for="ticker in tickers"
            :key="ticker.coin"
            :value="ticker.coin"
          >
            {{ ticker.coin }}</option
          >
        </vSelect> -->
      <!-- </div> -->
      <v-result-info :heading="'Комиссия'" :result="'1%'" />
      <!-- <v-result-info :heading="'Сумма'" :result="summ + ' JAZZ'" /> -->
      <v-result-info :heading="'Всего к переводу'" :result="summComission() + ' JAZZ'" />
      <div class="form-button-group">
      <v-button :type="'submit'" :jclass="'btn-regular'" :info="'Перевести'" :value="'go'" />

      </div>
    </vMenu>
  </div>
</template>

<script>
import vNavbar from "../global/v-navbar";
import vMenu from "../global/v-menu";
import vInputText from "../global/forms/v-input";
import vResultInfo from "../global/ui/v-result-info";
import vButton from "../global/forms/v-button";
// import vSelect from "../global/forms/v-select";
import { mapState, mapActions } from "vuex";
import axios from "axios";

const baseURL = "https://jazzme.org/service/v1/";
const balance = "clients/balance/";

export default {
  name: "v-wrapper-transfer",
  components: {
    vNavbar,
    vMenu,
    vInputText,
    vButton,
    vResultInfo
  },

  data() {
    return {
      tickers: [{ coin: "BNTJAZZ" }, { coin: "BIP" }],
      summ: "",
      chosen: "",
      bal: null
    };
  },
  methods: {
    summComission() {
      let comission = 0.1
      let minterCom = 0.84 * comission
      let resCom =  this.summ * (1/100) / 0.84 + minterCom
      let result = (parseInt((this.summ + resCom)*100)) / 100
      return result
      //комиссия = 0.1 + кол-во*0.1/ курс
    },
    ...mapActions(["GET_PRICE_FROM_API", "SET_PRICE"]),
    BNTJAZZ() {
      let price = this.bal;
      // let math = parseInt(price)
      // let variant = price.slice(0, -18);
      // let ready = Math.round(variant);
      return price;
    }
  },
  computed: {
    ...mapState({
      price: state => {
        let price = state.price.price;
        //  let result = price.toFixed(4)
        return price;
      }
    })
  },
  mounted() {
    this.GET_PRICE_FROM_API();

        axios
      .get(baseURL + balance + this.id)
      .then(response => (this.bal = response.data.balance));
  }
};
</script>

<style></style>
