<template>
  <div id="app">
    <transition name="fade" mode="out-in"></transition>
    <router-view />
  </div>
</template>

<style src="./assets/scss/common.scss" lang="scss"></style>

<script>
export default {
    title () {
    return `JAZZME`
  },
};
</script>
