<template>
  <div class="block-global">

    <slot></slot>
    <div class="toolbar">
 
      <div class="toolbar-item">
        <img src="../../assets/icons/ic_feed.svg" alt="" srcset="">
        <p>Новости</p>
      </div>
      <div class="toolbar-item">
        <img src="../../assets/icons/ic_cam.svg" alt="" srcset="">
        <p>Камера</p>
      </div>
      <div class="toolbar-item">
        <img src="../../assets/icons/ic_contests.svg" alt="" srcset="">
        <p>Конкурсы</p>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "v-menu-global"
};
</script>

<style lang="scss">

</style>
