<template>
  <div class="v-navbar">
    <div class="person-data">
      <img
        src="../../assets/icons/ic_back.svg"
        alt
        class="icon"
        @click="$router.go(-1)"
      />
      <h3>{{ title }}</h3>
      <div class="person-info">
        <p class="person-info__username">{{ username }}</p>
        <img src="../../assets/ava.jpg" class="person-info__image" alt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "v-navbar",
  //   props: ["pageTitle"],
  data() {
    return {
      username: "andreyev",
      title: this.$route.name
    };
  }
};
</script>

<style></style>
